# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
build_1/.ninja_deps
build_1/.ninja_log
build_1/.vscode-nrf-connect.json
build_1/build.ninja
build_1/cmake_install.cmake
build_1/CMakeCache.txt
build_1/compile_commands.json
build_1/image_preload.cmake
build_1/sysbuild_modules.txt
build_1/zephyr_modules.txt
build_1/zephyr_settings.txt
build_1/CMakeFiles/clean_additional.cmake
build_1/CMakeFiles/cmake.check_cache
build_1/CMakeFiles/CMakeError.log
build_1/CMakeFiles/CMakeOutput.log
build_1/CMakeFiles/guiconfig-0b59bc5.bat
build_1/CMakeFiles/hardenconfig-9a95698.bat
build_1/CMakeFiles/menuconfig-5f29641.bat
build_1/CMakeFiles/rules.ninja
build_1/CMakeFiles/shields-7b9b338.bat
build_1/CMakeFiles/TargetDirectories.txt
build_1/CMakeFiles/3.21.0/CMakeASMCompiler.cmake
build_1/CMakeFiles/3.21.0/CMakeCCompiler.cmake
build_1/CMakeFiles/3.21.0/CMakeCXXCompiler.cmake
build_1/CMakeFiles/3.21.0/CMakeSystem.cmake
build_1/CMakeFiles/3.21.0/CompilerIdC/CMakeCCompilerId.c
build_1/CMakeFiles/3.21.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
build_1/Kconfig/Kconfig.dts
build_1/Kconfig/Kconfig.shield
build_1/Kconfig/Kconfig.shield.defconfig
build_1/modules/TraceRecorder/cmake_install.cmake
build_1/modules/azure-sdk-for-c/cmake_install.cmake
build_1/modules/canopennode/cmake_install.cmake
build_1/modules/chre/cmake_install.cmake
build_1/modules/cirrus-logic/cmake_install.cmake
build_1/modules/cjson/cmake_install.cmake
build_1/modules/cmsis/cmake_install.cmake
build_1/modules/cmsis/CMSIS/cmake_install.cmake
build_1/modules/cmsis/CMSIS/Core/cmake_install.cmake
build_1/modules/connectedhomeip/cmake_install.cmake
build_1/modules/fatfs/cmake_install.cmake
build_1/modules/hal_nordic/cmake_install.cmake
build_1/modules/hal_nordic/nrfx/cmake_install.cmake
build_1/modules/hal_wurthelektronik/cmake_install.cmake
build_1/modules/hostap/cmake_install.cmake
build_1/modules/liblc3/cmake_install.cmake
build_1/modules/libmetal/cmake_install.cmake
build_1/modules/littlefs/cmake_install.cmake
build_1/modules/loramac-node/cmake_install.cmake
build_1/modules/lvgl/cmake_install.cmake
build_1/modules/lz4/cmake_install.cmake
build_1/modules/mbedtls/cmake_install.cmake
build_1/modules/mcuboot/cmake_install.cmake
build_1/modules/mcuboot/boot/bootutil/zephyr/cmake_install.cmake
build_1/modules/memfault-firmware-sdk/cmake_install.cmake
build_1/modules/mipi-sys-t/cmake_install.cmake
build_1/modules/nanopb/cmake_install.cmake
build_1/modules/nrf/cmake_install.cmake
build_1/modules/nrf/drivers/cmake_install.cmake
build_1/modules/nrf/drivers/entropy/cmake_install.cmake
build_1/modules/nrf/drivers/hw_cc310/cmake_install.cmake
build_1/modules/nrf/drivers/serial/cmake_install.cmake
build_1/modules/nrf/ext/cmake_install.cmake
build_1/modules/nrf/lib/cmake_install.cmake
build_1/modules/nrf/lib/bin/cmake_install.cmake
build_1/modules/nrf/lib/fatal_error/cmake_install.cmake
build_1/modules/nrf/lib/flash_patch/cmake_install.cmake
build_1/modules/nrf/modules/cmake_install.cmake
build_1/modules/nrf/samples/cmake_install.cmake
build_1/modules/nrf/samples/common/cmake_install.cmake
build_1/modules/nrf/samples/common/mcumgr_bt_ota_dfu/cmake_install.cmake
build_1/modules/nrf/subsys/cmake_install.cmake
build_1/modules/nrf/subsys/debug/cmake_install.cmake
build_1/modules/nrf/subsys/dfu/cmake_install.cmake
build_1/modules/nrf/subsys/net/cmake_install.cmake
build_1/modules/nrf/subsys/net/lib/cmake_install.cmake
build_1/modules/nrf/subsys/partition_manager/cmake_install.cmake
build_1/modules/nrf/subsys/shell/cmake_install.cmake
build_1/modules/nrf/tests/cmake_install.cmake
build_1/modules/nrf/tests/mocks/cmake_install.cmake
build_1/modules/nrf_hw_models/cmake_install.cmake
build_1/modules/nrfxlib/cmake_install.cmake
build_1/modules/nrfxlib/nrf_802154/cmake_install.cmake
build_1/modules/nrfxlib/nrfxlib/cmake_install.cmake
build_1/modules/open-amp/cmake_install.cmake
build_1/modules/openthread/cmake_install.cmake
build_1/modules/picolibc/cmake_install.cmake
build_1/modules/segger/cmake_install.cmake
build_1/modules/st/cmake_install.cmake
build_1/modules/tinycrypt/cmake_install.cmake
build_1/modules/trusted-firmware-m/cmake_install.cmake
build_1/modules/uoscore-uedhoc/cmake_install.cmake
build_1/modules/zcbor/cmake_install.cmake
build_1/modules/zscilib/cmake_install.cmake
build_1/zephyr/.cmake.dotconfig.checksum
build_1/zephyr/.config
build_1/zephyr/cmake_install.cmake
build_1/zephyr/dev_graph.dot
build_1/zephyr/dev_handles.c
build_1/zephyr/dts.cmake
build_1/zephyr/edt.pickle
build_1/zephyr/isr_tables.c
build_1/zephyr/isrList.bin
build_1/zephyr/linker_zephyr_pre0.cmd.dep
build_1/zephyr/linker_zephyr_pre1.cmd.dep
build_1/zephyr/linker.cmd.dep
build_1/zephyr/runners.yaml
build_1/zephyr/snippets_generated.cmake
build_1/zephyr/zephyr.bin
build_1/zephyr/zephyr.dts
build_1/zephyr/zephyr.dts.pre
build_1/zephyr/zephyr.lst
build_1/zephyr/zephyr.stat
build_1/zephyr/arch/cmake_install.cmake
build_1/zephyr/arch/arch/arm/cmake_install.cmake
build_1/zephyr/arch/arch/arm/core/aarch32/cmake_install.cmake
build_1/zephyr/arch/arch/arm/core/aarch32/cortex_m/cmake_install.cmake
build_1/zephyr/arch/arch/arm/core/aarch32/mpu/cmake_install.cmake
build_1/zephyr/arch/common/cmake_install.cmake
build_1/zephyr/boards/cmake_install.cmake
build_1/zephyr/cmake/flash/cmake_install.cmake
build_1/zephyr/cmake/reports/cmake_install.cmake
build_1/zephyr/cmake/usage/cmake_install.cmake
build_1/zephyr/drivers/cmake_install.cmake
build_1/zephyr/drivers/clock_control/cmake_install.cmake
build_1/zephyr/drivers/console/cmake_install.cmake
build_1/zephyr/drivers/disk/cmake_install.cmake
build_1/zephyr/drivers/gpio/cmake_install.cmake
build_1/zephyr/drivers/interrupt_controller/cmake_install.cmake
build_1/zephyr/drivers/misc/cmake_install.cmake
build_1/zephyr/drivers/pcie/cmake_install.cmake
build_1/zephyr/drivers/pinctrl/cmake_install.cmake
build_1/zephyr/drivers/serial/cmake_install.cmake
build_1/zephyr/drivers/timer/cmake_install.cmake
build_1/zephyr/drivers/usb/cmake_install.cmake
build_1/zephyr/drivers/usb_c/cmake_install.cmake
build_1/zephyr/include/generated/app_data_alignment.ld
build_1/zephyr/include/generated/app_smem_aligned.ld
build_1/zephyr/include/generated/app_smem_unaligned.ld
build_1/zephyr/include/generated/app_smem.ld
build_1/zephyr/include/generated/autoconf.h
build_1/zephyr/include/generated/devicetree_generated.h
build_1/zephyr/include/generated/driver-validation.h
build_1/zephyr/include/generated/kobj-types-enum.h
build_1/zephyr/include/generated/ncs_version.h
build_1/zephyr/include/generated/offsets.h
build_1/zephyr/include/generated/otype-to-size.h
build_1/zephyr/include/generated/otype-to-str.h
build_1/zephyr/include/generated/snippets-data-sections.ld
build_1/zephyr/include/generated/snippets-nocache-section.ld
build_1/zephyr/include/generated/snippets-noinit.ld
build_1/zephyr/include/generated/snippets-pinned-data-sections.ld
build_1/zephyr/include/generated/snippets-pinned-ram-sections.ld
build_1/zephyr/include/generated/snippets-pinned-rodata.ld
build_1/zephyr/include/generated/snippets-ram-sections.ld
build_1/zephyr/include/generated/snippets-ramfunc-section.ld
build_1/zephyr/include/generated/snippets-rodata.ld
build_1/zephyr/include/generated/snippets-rom-start.ld
build_1/zephyr/include/generated/snippets-rwdata.ld
build_1/zephyr/include/generated/snippets-sections.ld
build_1/zephyr/include/generated/syscall_dispatch.c
build_1/zephyr/include/generated/syscall_list.h
build_1/zephyr/include/generated/version.h
build_1/zephyr/include/generated/libc/minimal/strerror_table.h
build_1/zephyr/include/generated/syscalls/adc.h
build_1/zephyr/include/generated/syscalls/atomic_c.h
build_1/zephyr/include/generated/syscalls/bbram.h
build_1/zephyr/include/generated/syscalls/cache.h
build_1/zephyr/include/generated/syscalls/can.h
build_1/zephyr/include/generated/syscalls/counter.h
build_1/zephyr/include/generated/syscalls/dac.h
build_1/zephyr/include/generated/syscalls/device.h
build_1/zephyr/include/generated/syscalls/dma.h
build_1/zephyr/include/generated/syscalls/eeprom.h
build_1/zephyr/include/generated/syscalls/entropy.h
build_1/zephyr/include/generated/syscalls/errno_private.h
build_1/zephyr/include/generated/syscalls/error.h
build_1/zephyr/include/generated/syscalls/espi_saf.h
build_1/zephyr/include/generated/syscalls/espi.h
build_1/zephyr/include/generated/syscalls/ethernet.h
build_1/zephyr/include/generated/syscalls/flash_simulator.h
build_1/zephyr/include/generated/syscalls/flash.h
build_1/zephyr/include/generated/syscalls/fuel_gauge.h
build_1/zephyr/include/generated/syscalls/gpio.h
build_1/zephyr/include/generated/syscalls/hwinfo.h
build_1/zephyr/include/generated/syscalls/i2c.h
build_1/zephyr/include/generated/syscalls/i2s.h
build_1/zephyr/include/generated/syscalls/i3c.h
build_1/zephyr/include/generated/syscalls/ipm.h
build_1/zephyr/include/generated/syscalls/ivshmem.h
build_1/zephyr/include/generated/syscalls/kernel.h
build_1/zephyr/include/generated/syscalls/kobject.h
build_1/zephyr/include/generated/syscalls/kscan.h
build_1/zephyr/include/generated/syscalls/led.h
build_1/zephyr/include/generated/syscalls/libc-hooks.h
build_1/zephyr/include/generated/syscalls/log_ctrl.h
build_1/zephyr/include/generated/syscalls/log_msg.h
build_1/zephyr/include/generated/syscalls/maxim_ds3231.h
build_1/zephyr/include/generated/syscalls/mbox.h
build_1/zephyr/include/generated/syscalls/mdio.h
build_1/zephyr/include/generated/syscalls/mem_manage.h
build_1/zephyr/include/generated/syscalls/mutex.h
build_1/zephyr/include/generated/syscalls/net_if.h
build_1/zephyr/include/generated/syscalls/net_ip.h
build_1/zephyr/include/generated/syscalls/nrf_qspi_nor.h
build_1/zephyr/include/generated/syscalls/peci.h
build_1/zephyr/include/generated/syscalls/phy.h
build_1/zephyr/include/generated/syscalls/ps2.h
build_1/zephyr/include/generated/syscalls/ptp_clock.h
build_1/zephyr/include/generated/syscalls/pwm.h
build_1/zephyr/include/generated/syscalls/rand32.h
build_1/zephyr/include/generated/syscalls/reset.h
build_1/zephyr/include/generated/syscalls/retained_mem.h
build_1/zephyr/include/generated/syscalls/rtc.h
build_1/zephyr/include/generated/syscalls/rtio.h
build_1/zephyr/include/generated/syscalls/sdhc.h
build_1/zephyr/include/generated/syscalls/sensor.h
build_1/zephyr/include/generated/syscalls/smbus.h
build_1/zephyr/include/generated/syscalls/socket_select.h
build_1/zephyr/include/generated/syscalls/socket.h
build_1/zephyr/include/generated/syscalls/spi.h
build_1/zephyr/include/generated/syscalls/syscon.h
build_1/zephyr/include/generated/syscalls/time_units.h
build_1/zephyr/include/generated/syscalls/time.h
build_1/zephyr/include/generated/syscalls/uart_mux.h
build_1/zephyr/include/generated/syscalls/uart.h
build_1/zephyr/include/generated/syscalls/updatehub.h
build_1/zephyr/include/generated/syscalls/usb_bc12.h
build_1/zephyr/include/generated/syscalls/w1.h
build_1/zephyr/include/generated/syscalls/watchdog.h
build_1/zephyr/kconfig/sources.txt
build_1/zephyr/kernel/cmake_install.cmake
build_1/zephyr/lib/cmake_install.cmake
build_1/zephyr/lib/hash/cmake_install.cmake
build_1/zephyr/lib/libc/cmake_install.cmake
build_1/zephyr/lib/libc/common/cmake_install.cmake
build_1/zephyr/lib/libc/minimal/cmake_install.cmake
build_1/zephyr/lib/os/cmake_install.cmake
build_1/zephyr/lib/posix/cmake_install.cmake
build_1/zephyr/misc/generated/configs.c
build_1/zephyr/misc/generated/struct_tags.json
build_1/zephyr/misc/generated/syscalls_subdirs.trigger
build_1/zephyr/misc/generated/syscalls_subdirs.txt
build_1/zephyr/misc/generated/syscalls.json
build_1/zephyr/soc/arm/cmake_install.cmake
build_1/zephyr/soc/arm/common/cortex_m/cmake_install.cmake
build_1/zephyr/soc/arm/nordic_nrf/cmake_install.cmake
build_1/zephyr/soc/arm/nordic_nrf/common/cmake_install.cmake
build_1/zephyr/soc/arm/nordic_nrf/nrf52/cmake_install.cmake
build_1/zephyr/subsys/cmake_install.cmake
build_1/zephyr/subsys/canbus/cmake_install.cmake
build_1/zephyr/subsys/debug/cmake_install.cmake
build_1/zephyr/subsys/fb/cmake_install.cmake
build_1/zephyr/subsys/fs/cmake_install.cmake
build_1/zephyr/subsys/ipc/cmake_install.cmake
build_1/zephyr/subsys/logging/cmake_install.cmake
build_1/zephyr/subsys/logging/backends/cmake_install.cmake
build_1/zephyr/subsys/mgmt/cmake_install.cmake
build_1/zephyr/subsys/modbus/cmake_install.cmake
build_1/zephyr/subsys/pm/cmake_install.cmake
build_1/zephyr/subsys/portability/cmake_install.cmake
build_1/zephyr/subsys/random/cmake_install.cmake
build_1/zephyr/subsys/rtio/cmake_install.cmake
build_1/zephyr/subsys/sd/cmake_install.cmake
build_1/zephyr/subsys/stats/cmake_install.cmake
build_1/zephyr/subsys/storage/cmake_install.cmake
build_1/zephyr/subsys/task_wdt/cmake_install.cmake
build_1/zephyr/subsys/testsuite/cmake_install.cmake
build_1/zephyr/subsys/tracing/cmake_install.cmake
build_1/zephyr/subsys/usb/cmake_install.cmake
